{% extends 'adopta/dashboard/dashboard_base.html' %}
{% block title %}Formulario de Mascota{% endblock %}
{% block dashboard_content %}
    <h1>Formulario de Mascota</h1>
    <form method="post" class="form-dashboard">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-actions">
            <button type="submit" class="btn-primary">Guardar</button>
            <a href="{% url 'mascotas_list' %}" class="btn-secondary">Volver al Listado</a>
        </div>
    </form>
{% endblock %}
